{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block hero %}
    <div
        class="h-[30vh] relative flex justify-around "
    >
        <img class=" absolute w-full h-[30vh] object-cover object-center" src="{{ asset('/images/hero_image.jpg') }}" alt="Mountain Picture">
        <h1 class="isolate grid content-center text-5xl font-bold text-white">Gearloop</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="grid gap-12 py-8">
        <div class="grid gap-4">
            <div class="flex justify-between">
                <h2 class="text-3xl font-bold">Last Created Kits</h2>
                <a class="link link-hover" href="{{ path('app_explore_kits') }}">See all</a>
            </div>
            <div class="grid grid-cols-1 gap-4">
                {% for kit in lastCreatedKits %}
                    <twig:KitCard kit="{{ kit }}" />
                {% endfor %}
            </div>
        </div>
        <div class="grid gap-4">
            <div class="flex justify-between">
                <h2 class="text-3xl font-bold">Last Featured Items</h2>
                <a class="link link-hover" href="{{ path('app_explore_items') }}">See all</a>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {% for item in lastCreatedItems %}
                    <twig:ItemCard item="{{ item }}" />
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
