{% extends '/base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="grid gap-8">
    <div class="sm:card bg-base-100 w-full sm:border sm:border-base-300 overflow-hidden max-w-3xl mx-auto">
        <div class="flex flex-col sm:flex-row gap-4 justify-between px-6 pt-6 pb-4">
            <div class="flex flex-col sm:flex-row sm:items-center gap-4">
                <div class="avatar">
                    <div class="w-24 h-24 rounded-full border-2 border-base-300">
                        {% if user.avatar %}
                            <img src="{{ user.avatar }}" alt="{{ user.username }}">
                        {% else %}
                            {{ ux_icon('lucide:user-round') }}
                        {% endif %}
                    </div>
                </div>
                <div>
                    <h1 class="text-3xl font-bold">{{ user.displayName }}</h1>
                    <p class="text-base-content/90">{{ user.experienceLevel.label }}</p>
                    <p class="text-base-content/80">📍 {{ user.location|default('Not specified') }}</p>
                </div>
            </div>
            <div class="flex flex-row gap-2">
                {% if app.user and app.user.id == user.id %}
                    <a href="{{ path('app_profile_edit') }}" class="btn flex-1 sm:flex-auto btn-primary">Edit my profile</a>
                    <a href="{{ path('app_settings_show') }}" class="btn flex-1 sm:flex-auto btn-outline">Settings</a>
                {% endif %}
            </div>
        </div>
        <div class="px-6 pb-6 text-base-content/70">
            <p>Member since {{ user.createdAt|date('F Y') }}</p>
        </div>
        {% if user.bio %}
            <div class="card-body border-t border-base-300">
                <p class="italic text-neutral">"{{ user.bio }}"</p>
            </div>
        {% endif %}
        <div class="card-body border-t border-base-300">
            <div class="stats">
                <div class="stat">
                    <div class="stat-title font-medium">Created Kits</div>
                    <div class="stat-value">{{ createdKitsCount }}</div>
{#                    <div class="stat-desc">21% more than last month</div>#}
                </div>
                <div class="stat">
                    <div class="stat-title font-medium">Created Items</div>
                    <div class="stat-value">{{ createdItemsCount }}</div>
                    {#                    <div class="stat-desc">21% more than last month</div>#}
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="flex justify-between">
            <h2 class="text-3xl font-bold pb-4">Last Created Kits</h2>
            <a class="link link-hover" href="{{ path('app_kit_index') }}">See all</a>
        </div>
        <div class="grid grid-cols-1 gap-4">
            {% for kit in lastKits %}
                <twig:KitCard kit="{{ kit }}" />
            {% endfor %}
        </div>
    </div>

    <div>
        <div class="flex justify-between">
            <h2 class="text-3xl font-bold pb-4">Last Validated Items</h2>
            <a class="link link-hover" href="{{ path('app_item_index') }}">See all</a>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            {% for item in lastItems %}
                <twig:ItemCard item="{{ item }}" />
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
