{% extends 'base.html.twig' %}

{% block title %}Kit - Edit {{ kit.slug }}{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">Edit Kit - {{ kit.name }}</h1>

    {{ include('kit/_form.html.twig', {'button_label': 'Update'}) }}
{#    {{ include('kit/_delete_form.html.twig') }}#}

    <a class="btn btn-neutral my-4" href="{{ path('app_kit_index') }}">Back to list</a>
{% endblock %}
