{% extends '/base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <div class="sm:card bg-base-100 w-full sm:border sm:border-base-300 overflow-hidden max-w-3xl mx-auto p-6 gap-4">
        <h1 class="text-3xl font-bold">Account Settings</h1>
        <div class="flex flex-col gap-2">
            <h2 class="text-xl font-medium">Security</h2>
            <table class="table table-zebra">
                <tr>
                    <td>Email</td>
                    <td>{{ app.user.email }}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>********</td>
                </tr>
            </table>
            <a class="btn btn-link self-start" href="{{ path('app_settings_change_password') }}">Change my password</a>
        </div>
        <div class="flex flex-col gap-2 border-t border-base-300 pt-4">
            <h2 class="text-xl font-medium">Account</h2>
            <table class="table table-zebra">
                <tr>
                    <td>Username</td>
                    <td>{{ app.user.username }}</td>
                </tr>
                <tr>
                    <td>Creation date</td>
                    <td>{{ app.user.createdAt|date }}</td>
                </tr>
            </table>
        </div>
        <div class="flex flex-col gap-2 border-t border-base-300 pt-4">
            <h2 class="text-xl font-medium">Danger zone</h2>
            {{ include('user/settings/_delete_form.html.twig') }}
            {#<small class="text-base-content/60">
                Delete your account, you will have 15 days to cancel the deletion after that,
                the operation will be definitive !
            </small>#}
        </div>
    </div>
{% endblock %}
