<div
    class="card bg-base-100 text-base-content border border-base-300
        hover:bg-base-300 transition duration-300 overflow-hidden cursor-pointer
        {{ attributes.render('class') }}
    "
    {{ attributes }}
    onclick="window.location.href='{{ path('app_item_show', {'id': item.id}) }}'"
>
    {% if item.imageUrl %}
        <figure class="px-4 pt-4">
            <img src="{{ item.imageUrl ?? '/images/default-item.png' }}" alt="{{ item.name }}" class="rounded-xl h-40 w-full object-cover">
        </figure>
    {% endif %}
    <div class="card-body">
        <h2 class="card-title text-primary">
            {{ item.name }}
        </h2>
        <p class="text-sm text-neutral">{{ item.description|slice(0,80) ~ '...' }}</p>
        <div class="flex flex-wrap gap-2 mt-2">
            {% if item.status.value != 'validated' %}
                <span class="badge {{ item.status.value == 'pending' ? 'badge-info' : 'badge-error' }}">
                    {{ item.status.label }}
                </span>
            {% endif %}
        </div>
        <div class="flex flex-wrap gap-2 mt-2">
                <span class="badge badge-secondary">
                    {{ item.category.name }}
                </span>
            {#  TODO AJOUTER COMME KIT UN CHAMP STATS POUR RECUPERER LES DATAS VARIANTS (RANGE POIDS, PRIX) ??? Variants dispo ... #}
            {#  <span class="badge badge-outline">Weight: {{ item.weight }} g</span>#}
            {#  <span class="badge badge-outline">Price: {{ item.price|number_format(2, '.', ' ') }} €</span>#}
        </div>
    </div>
</div>
